<h1 class="h1"><%= title %></h1>
<%- messages() %>

<form method="POST" action="/account/register" class="form pb15">
  <label class="input-line">
    <span class="bold">First name</span>
    <input
      type="text"
      name="account_firstname"
      required
      value="<%- locals.account_firstname %>"
    />
  </label>
  <label class="input-line">
    <span class="bold">Last name</span>
    <input
      type="text"
      name="account_lastname"
      required
      value="<%- locals.account_lastname %>"
    />
  </label>
  <label class="input-line">
    <span class="bold">Email</span>
    <input
      type="email"
      name="account_email"
      required
      value="<%- locals.account_email %>"
    />
  </label>
  <label class="input-line">
    <span class="bold">Password</span>
    <span
      >Password must be at least 12 characters and contain at least 1 number, 1
      capital letter and 1 special character</span
    >
    <input type="password" name="account_password" />
  </label>
  <label class="input-line">
    <input
      class="form-submit-button"
      type="submit"
      name="submit"
      id="regbtn"
      value="Register"
    />
  </label>
</form>
